@charset "utf-8";

html {
    font-size: 62.5%;
}


body {
    font-family: "Helvetica Neue",
      Arial,
      "Hiragino Kaku Gothic ProN",
      "Hiragino Sans",
      Meiryo,
      sans-serif;
  }
 


img {
    width: 100%;

}

.text-center {
    text-align: center;
}

.wrapper {
    max-width: 1200px;
    margin: auto;
}






/* header--------------------------------- */

.top_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 160px;
    width: 1000px;


}

.logo {
    min-width: 50%;
    margin: 0 160px 0 30px;
}

.nav_list {
    display: flex;
}

.nav_text {
    margin: 20px;
    font-size: 1.4rem;
    text-transform: uppercase; /* 大文字 */
    font-family: "Outfit";
    letter-spacing : 0.1em;
    
}

a {
    text-decoration: none;
    color: #000;
    /* リンクの色や下線を消す */
}


/* hero-image--------------------------------- */


.hero_image {
    position: relative;
}

.hero_image_text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%,-50%,0);
    /* 正直理解できてない!もっと簡単な方法はないのか？ */
    color: #fff;
    white-space: nowrap;
}

.hero_catchcopy {
    font-size: 3.5rem;
    font-weight:  thin;
    letter-spacing: 0.1em;
    margin: 0 0 30px;
    white-space: nowrap;
}

.hero_title {
    font-size: 2.0rem;
    letter-spacing: 0.1em;
}

.video {
  max-width: 1280px;
  margin: 0 auto;
}


/* about--------------------------------- */


h1 {
    font-size: 2.4rem;
    letter-spacing: 2px;
    margin: 80px 0 20px;
    font-family: "Outfit"
}

h2 {
    font-size: 1.3rem;
    margin: 0 0 60px;
}

.about_text_wrapper {
    margin: 60px auto 100px;
}

.about_text {
    font-size: 1.6rem;
    margin: 0 0 40px;
    line-height: 1.8;
}



.about_image_wrapper {
    display: flex;
    width: 25%;
}





/* course--------------------------------- */

.course_info {
    font-size: 1.6rem;
    line-height: 1.8;
    margin: 30px 0 90px;
}

.course_item {
    display: flex;
    justify-content: center;
}



/* xxx 後でちゃんと理解したい 11/29 xxx */
.course_img_outer {
    width: 600px;
    display: flex;
    justify-content: space-around;
}

.course_img {
    object-fit: cover;
}
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */



.course_text_container {
    width: 600px;
    background: #ededed;
    padding: 120px 0;
    text-align: left;
}

.course_heading {
    font-size: 2.4rem;
    margin: 0 0 40px;
    padding: 0 0 0 50px;
    
}

.course_text {
    width: 430px;
    font-size: 1.6rem;
    line-height: 1.8;
    padding: 0 0 0 50px;
}



.course_text_container_left {
    width: 600px;
    background: #fafafa;
    padding: 120px 0;
    text-align: left;

}

.course_heading_left {
    width: 430px;
    font-size: 2.4rem;
    margin: 0 120px;
    padding: 0 0 40px 0;
}

.course_text_left {
    width: 430px;
    font-size: 1.6rem;
    line-height: 1.8;
    margin: 0 120px;

}







/* news--------------------------------- */

.news {
    margin: 0 0 40px;
}

.news_list {
    display: flex;
    justify-content: center;
    margin: 60px;
}


.news_item {
    width: 300px;
    margin: 0 15px 0;
}

.news_contents {
    width: 300px;
}

.date {
    font-size: 1.6rem;
    line-height: 1.8;
    margin: 30px 0 24px;
}

.news_text {
    font-size: 1.4rem;
    line-height: 1.8;
}








/* access--------------------------------- */

.access_wrapper {
    background-color: #fafafa;
    width: 1200px;
    height: auto;
    margin: 30px auto;
    text-align: center;
}

.access_title {
    padding: 60px 0 0px;
    margin: 0 auto 30px;
}

.access_title_jp {
    margin: 0 auto 60px;
    font-size: 1.6rem;
}

.map {
    width: 1200px;
}

.company_info {
    width: 600px;
    margin: auto;
    padding: 60px;
    display: flex;
    flex-wrap: wrap;
    font-family: "Hiragino Kaku Gothic ProN","Hiragino Sans";
}


.info_title {
   font-size: 1.6rem;
   width: 30%;
   text-align: left;
   margin: 0 0 30px;
   
}

.info_text {
    font-size: 1.6rem;
    width: 70%;
    text-align: left;
    margin: 0 0 30px;
}


/* contact--------------------------------- */


.contact_text {
    font-size: 1.6rem;
    line-height: 1.8;
    margin: 0 0 70px;
}

.contact_title_jp {
    margin: 0 0 60px;
    font-size: 1.3rem;
} 


.contact_table {
    width: 568px;
    margin: auto;
}
/* -------------------- */


/* 質問 */
.contact_item {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
    vertical-align: middle;
    width: 240px;
    background-color: #eee;
}

/* 回答の外枠 */
.contact_body {
    padding: 10px;
    border: 1px solid #ccc;
    width: 328px;
}

/* 回答の内枠 */
.form_text {
    width: 90%;
    border: 2px solid #fff; 
}


/* -------------------- */

.cp_ipselect {
	overflow: hidden;
	width: 90%;
	margin: 2em auto;
	text-align: center;
}
.cp_ipselect select {
	width: 100%;
	padding-right: 1em;
	cursor: pointer;
	text-indent: 0.01px;
	text-overflow: ellipsis;
	border: none;
	outline: none;
	background: transparent;
	background-image: none;
	box-shadow: none;
	-webkit-appearance: none;
	appearance: none;
}
.cp_ipselect select::-ms-expand {
    display: none;
}
.cp_ipselect.cp_sl01 {
	position: relative;
	border: 1px solid #bbbbbb;
	border-radius: 2px;
	background: #ffffff;
}
.cp_ipselect.cp_sl01::before {
	position: absolute;
	top: 0.8em;
	right: 0.9em;
	width: 0;
	height: 0;
	padding: 0;
	content: '';
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid #666666;
	pointer-events: none;
}
.cp_ipselect.cp_sl01 select {
	padding: 8px 38px 8px 8px;
	color: #666666;
}

/* -------------------- */



/* 各チェックボックスの名称＝label */
.contact_label {
    display: block; /* labelはインラインだからブロックレベルへ */
    text-align: left; /* 左寄せ */
    padding: 0 0 10px;
    font-size: 1rem;
}

/* チェックボックス */
.checkbox {
    margin: 10px 20px;
}

.checkbox_last {
    margin: 10px 20px 10px;
}
/* チェックボックスと文字が水平で中心にならない！！ */


/* 詳細 */
#detail {
    width: 280px;
    /* 枠の色変えられない！！ */
  
}

.btn {
    display: block;
    text-align: center;
    width: 200px;
    margin: 60px auto 60px;
    padding: 20px 0;
    font-size: 1.6rem;
    color: #fff;
    background: #333;
    border-radius: 6px;
    transition: .3s;
  }
  
  .btn:hover {
      background: #ffc700;
  }
  

/* footer--------------------------------- */


.footer {
    padding: 30px;
    margin: 140px;
    background-color: #707070;

}

.copyright {
    color: #fff;

}

